@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body
{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fada3e;
}
.container
{
    position: relative;
    width: 1000px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    box-shadow: 0 20px 20px rgba(0,0,0,.2);
}
.container .card
{
    position: relative;
    display: flex;
    flex-direction: column;
    background: #fff;
    transition: 0.5s;
}
/*.container .card:hover
{
  transform: scale(1.1);
  box-shadow: 0 0 50px rgba(0,0,0,.5);
  z-index: 1;
}*/
.container .card:nth-child(even)
{
    flex-direction: column-reverse;
}
.container .card .imgBx
{
    position: relative;
    width: 250px;
    height: 250px;
    background: #000;
}
.container .card .imgBx img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.container .card .content
{
    position: relative;
    width: 250px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-content: center;
}
.container .card .content div
{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 20px;
    text-align: center;
}
@media (max-width: 1000px)
{
    .container
    {
        width: 1000px;
        grid-template-columns: repeat(auto-fit,minmax(100%,1fr));
        margin: 50px;
        box-shadow: none;
    }
    .container .card
    {
        flex-direction: row;
        margin: 10px 0;
    }
    .container .card:nth-child(even)
    {
        flex-direction: row-reverse;
    }
    .container .card .imgBx,
    .container .card .content
    {
        width: 50%;
    }
}
@media (max-width: 600px)
{
    .container .card
    {
        flex-direction: column;
        margin: 10px 0;
    }
    .container .card:nth-child(even)
    {
        flex-direction: column;
    }
    .container .card .imgBx,
    .container .card .content,
    .container .card .content div
    {
        width: 100%
    }
    .container .card .content
    {
        height: 200px;
    }
}