body{
    background-color: rgba(0, 198, 253, 0.09);
}
table{
    width: auto;
    height: 350px;
    background-color: rgba(187, 204, 18, 0.33);
}
tr:first-child{
    background-color: rgba(0, 204, 0, 0.26);
}
table td{
    border:1px solid #00a2f9;
    padding: 5px;
}