@import "iphone.css";
html,
body {
    height: 100%;
    width: 100%;
}

/*
######################################################################################################
 */
#header{
    height:15%;
    z-index: 1000;
    position: relative;
}

#leftcol{
    float: left;
    width: 20%;

}

#leftcol img{
    width: 50px;
    z-index: 10;
    position: relative;
}

#middlecol{
    background-color: #f9ffe5;
    float: left;
    width: 40%;
}
#rightcol{
    float: right;
    width: 40%;
    text-align: right;
}
#rightcol img{
    width:44px;
    height:36px;
}

#bottomcol{
    bottom: 10px;
    position: absolute;
    height: 10px;
    top: 30px;
    left: 0px;
    width: 100%;
    z-index: 10;
}

.mynav{
    float: left;
}
.mynav2{
   float: left;
    z-index: 100;
}

/*
######################################################################################################
 */
#leftpart{
    background-color: #74caff;
    width: 20%;
    height: auto;
    float: left;
    z-index: 999;
    position: relative;

}

.quickfind input{
    border-radius: 20px;
    margin-bottom: 8px;
}
#service setup{
margin-bottom: 15px
}

.child{
    display: none;
}

.father li{
    background-color: #f00;
    margin-bottom: 30px;
    margin-right: 12px;
    list-style: none;
    cursor: pointer;

}
.father li{
    background-color: #721c24;
    color:#fff;
}

.father li:hover{
    background-color: #ff66f2;
    color: #74caff;
}

.hidechild{
    display: none;
}

/*
######################################################################################################
 */
#rightpart{
    background-color: #e8fff6;
    width: 80%;
    height: auto;
    float: left;
    border: 1px solid black;
}

.col-sm{
    text-align: center;
    border: 1px solid;
    font-size: 12px;
    padding: 4px;
    margin: 5px;
    height: 160px;
    background-color: white;

}
.mytable{
    background-color: #f00;
    max-height: 100%;
    max-width: 100%;
    min-height: 100%;
    min-width: 100%;
    font-size: 12px;
}

.jontosh{
    background-color: #fffbfd;
}

.jontosh p{
    margin: 5px;
    border: 1px solid;
}

/*
######################################################################################################
 */
#footer{
    background-color: #e8fff6;
    width: 100%;
    height: 600px;
    border: 1px solid;
}
.father_foot{
    width: 60%;
    height:170px;
    position: relative;
}
.container2{
    width: 45%;
    height: 200px;
    float: left;
    background-color: white;
    border: 1px solid;
    margin: 5px;
    padding: 5px;
}
.image{
    width: 100px;
    height: 100px;
    margin-left: 220px;
    margin-top: 40px;
}

.row3{
    background-color: white;
    border: 1px solid black;
    width: 410px;
    height: 199px;
    float: left;
    margin: 5px;
}
.row3_p{
    font-size: 14px;
    margin: 5px;
}

.row3_table{
    margin: 10px;
    font-size: 12px;
}
.row3_table td {
    padding-left: 60px;
    padding-bottom: 20px;
}

.row3_column li{
    list-style-type:circle;
    font-size: 12px;
    border-bottom: 1px solid;
    border-color: rgba(187, 177, 166, 0.9);
    width: 350px;
    margin: 5px;
}

.myp{
    text-align: center;
    font-size: 12px;
}
.my0{
    font-size: 40px;
    padding-top: -20px;
}

