.header img{
    width: 32%;
    height: 220px;
    border: 2px dotted #0b18ff;
    background-color: #80bdff;

}
.header{
    background-color: #9fcdff;

}
.header h1{
    text-align: center;
}
tr:nth-child(2) img{
    width: 100%;
}
tr:nth-child(3) img{
    width: 100%;
}
tr:nth-child(4) img{
    width: 100%;
}
.body{
    width: 80%;
    margin: auto;
}

table, td{
    border: 1px solid #0b18ff !important;
}
table{
    border-spacing: 0px !important;
    background-color: hotpink;
}
.myframe{
    width: 90%;
    height: 350px;
}
.footer{
    margin: auto;
}