body{
    background-image: url("pics/uzb1.jpg");
    background-size: cover;
    margin-top: auto;
    float: initial;
}
.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
}
#presentation_window{
    width: 1320px;
    text-align: center;
    margin: auto;
}
#topheader{
    background-color: blue;
}

.header1{
    /*background-color: #98aeff;*/
    color: white;
    font-family: "Playfair Display", Georgia, "Times New Roman", serif;
    float: left;
}

.options{
    float: right;
    top: 10px;
    position: relative;
}

#USA{
    background-image: url("pics/usaflag.jpg");
    list-style-type: none;
    box-sizing: border-box;
    background-size: 100% 100%;
    border: 1px solid #e80707;
    color: transparent;
    user-select: none;
    border-radius: 3px;
    box-shadow: black 1px 1px 1px 1px;
}

#TURKEY{
    background-image: url("pics/turkeyflag2.png");
    list-style-type: none;
    box-sizing: border-box;
    background-size: 100% 100%;
    border: 1px solid #e80707;
    color: transparent;
    user-select: none;
    border-radius: 3px;
    box-shadow: black 1px 1px 1px 1px;
}

#UAE{
    background-image: url("pics/usa1.jpg");
    list-style-type: none;
    box-sizing: border-box;
    background-size: 100% 100%;
    border: 1px solid #e80707;
    color: transparent;
    user-select: none;
    border-radius: 3px;
    box-shadow: black 1px 1px 1px 1px;
}

#UZB{
    background-image: url("pics/turkey1.jpg");
    background-size: 100% 100%;
    border: 1px solid #e80707;
    color: transparent;
    user-select: none;
    border-radius: 3px;
    box-shadow: black 1px 1px 1px 1px;
}
#USA:hover{
    cursor: pointer;
}
#UAE:hover{
    cursor: pointer;
}
#UZB:hover{
    cursor: pointer;
}
#TURKEY:hover{
    cursor: pointer;
}
.leftwindow{
    float: left;
    margin-top: 40px;
    margin-left: 100px;
}
#usimg{
    border: solid blue;
    float: left;
    margin-top: 20px;
    border-radius: 10px;
}
#usimg1{
    border: solid blue;
    float: left;
    margin-top: 10px;
    border-radius: 10px;
}
#usimg2{
    border: solid blue;
    float: left;
    margin-top: 20px;
    border-radius: 10px;
}
.rightwindow{
    float: right;
    margin-top: 80px;
    margin-right: 100px;
}
#usimg3{
    border: solid blue;
    position: page;
    border-radius: 20px;
}
.button2{
    position: fixed;
    left: 0;
    top: 50%;

}

.leftimg{
    cursor: pointer;
    width: 290px;
    height: 170px;
}
.leftimg:hover{
    opacity: 0.8;
    border: 3px dotted #ec364f !important;
    width: 300px;
    height: 180px;
}
.rightimgs{
    height:500px;
    width:800px;
}
.flags{
    width: 50px;
}
.flags:hover{
    cursor: pointer;
}


@media (min-width: 601px) {
   body{
       background-image: url("pics/uzb1.jpg");
       background-size: cover;
       margin-top: auto;
       float: initial;
   }
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    body {
        background-image: url("pics/uzb1.jpg");
        background-size: cover;
        margin-top: auto;
        float: initial;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    body{
    background-image: url("pics/uzb1.jpg");
    background-size: cover;
    margin-top: auto;
    float: initial;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    body{
    background-image: url("pics/traver1.jpeg");
    background-size: cover;
    margin-top: auto;
    float: initial;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    body{
    background-image: url("pics/travel2.jpg");
    background-size: cover;
    margin-top: auto;
    float: initial;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    body{
    background-image: url("pics/travel3.png");
    background-size: cover;
    margin-top: auto;
    float: initial;
    }
}



























