body{
    background-color: #060607;
 }
.mytv{
    width: 600px;
    height: 300px;
    text-align: center;
}
.mytv img{
    width: 500px;
    position: relative;
    top: 135px;
    right: -400px;
    z-index: 0;

}
.youtube{
    position: relative;
    top: -164px;
    left: 355px;
    width: 50%;
    height: 74%;
}