.container-fluid{
    background-color: #efefef;
}
.header{
    background-color: black;
    width: 100%;
    height: 30px;
    text-align: right;
}
.mya{
    color: #ffffff;
}
.topdiv{
    background-color: #fafafa;
    border-bottom: 1px solid #d2d0d0;
}
#logo{
    width: 200px;
}
.clublogo{
    display: inline-block;
    width: 33%;
    position: relative;
}
.top_left_div{
    position: relative;
    top: -10px;
}
.top_middle_div{
    position: relative;
    top: -23px;
}
.top_right_div{
    text-align: center;
    font-size: 12px;
}
.youa{
    color:brown;
    margin: 3px;
    padding: 2px;
}