body {
    padding: 0;
    margin: 0;
}
.box {
    background-color: #3c4043;
    height: 45px;
    width: 100%;
}
.tab {
    background-color: #35363a;
    border-top: 8px;
    width: 244px;
    height: 35px;
    margin-left: 7px;
    border-radius: 8px;
    position: relative;
    top: 8px;
    color: #ffffff;
}
.doc {
    position: relative;
    top: 8px;
    left: 20px;
    font-size: 14px;
    font-weight: lighter;
    letter-spacing: 1px;
}
.fa-times {
    position: relative;
    top: 8px;
    left: 145px;
}
.fa-plus {
    position: relative;
    left: 264px;
    top: -21px;
}
.fa-minus {
    position: relative;
    top: -21px;
    right: 101px;
    float: right;
}
.fa-square {
    position: relative;
    top: -21px;
    right: 43px;
    float: right;
}
.fa-door-closed {
    position: relative;
    float: right;
    top: -21px;
    right: -14px;
}
.searchbox {
  background-color: #35363a;
    height: 40px;
}
.fa-arrow-left{
    float: left;
    position: relative;
    top: 10px;
    left: 15px;
}
.fa-arrow-right{
    float: left;
    position: relative;
    top: 10px;
    left: 35px;
}
.fa-redo-alt{
    float: left;
    position: relative;
    top: 10px;
    left: 53px;
}
.search{
    display: inline-block;
    background-color: #202124;
    height: 24px;
    position: relative;
    top: 10px;
    left: 68px;
    border-radius: 10px;
    width: 438px;
}
.secure{
    font-weight: lighter;
}
.fa-star{
    position: relative;
    float: right;
    right: -64px;
}
.one{
    color: grey;
}


