body {
    background-color: black;
}

.container-fluid {
    margin: 10px 10px 10px;
}

.top {
    background-color: #920818;
    width: 100%;
    height: 111px;
    margin-top: 10px;
    border-top-left-radius: 17px;
    border-top-right-radius: 17px;
}

.top img {
    height: 70px;
    margin: 15px;
}

.menu {
    background-color: #174382;
    width: 100%;

}

.home {
    display: inline;
    color: #ffbaeb;
    cursor: pointer;
    padding: 8px;
}

.home:hover {
    color: black;
}

.background {
    background-image: url("https://bdi-craft.s3.amazonaws.com/BDI-products-1200x1200/OFFICE/SIGMA/_1200x675_crop_center-center_none/sigma-office-collection-BDI-modern-office-furniture-product-type-image-2.jpg?mtime=20190424100622");
    width: 100%;
    height: 596px;
    background-repeat: no-repeat;
}

.logo {
    background-color: #c23a44;
    height: 151px;
    width: 426px;
    margin: auto;
    position: relative;
    top: 70px;
    border-radius: 40px;

}

span.text {
    position: relative;
    top: 40px;
    left: 90px;
    color: #d3cb9d;
    font-size: 27px;
    font-weight: 900;
}
span.text2{
    color: #e1c332;
}
.mickey{
    position: relative;
    bottom: 205px;
    left: 464px;
    height: 138px;
}
.sign{
    height: 112px;
    position: relative;
    top: 169px;
    left: 522px;
}