.two_lines p{
    text-align: center;
    color: #5c4d52;
    font-weight: bold;
}

.two_lines h2 {
    text-align: center;
    color: #969f9c;
    line-height: 5px;
}

.three_boxes {
    display: inline-block;
    margin: auto;
    width: 950px;
    margin-left: 20px;
    margin-top: 10px;
}

.first {
    border: 2px solid #574d41;
    margin-top: 15px;
    border-top-color: #aa4d12;
    display: inline-block;
    horiz-align: left;
    width: 30%;
    border

}

.standard {
    background-color: #aa4d12;
    font-size: x-large;
    color: #c9b49a;
    text-align: center;
    font-weight: bolder;
    line-height: 25px;
    height: 55px;
    border-bottom-left-radius: 22px;
    border-bottom-right-radius: 22px;
}

.list1 {
    margin-top: 10px;
}
.prize1{
    margin-top: -25px;
}
span.f{
   display: inline-block;
    horiz-align: left;
    font-size: x-large;
    font-weight: bolder;
    margin-left: 60px;
    margin-top: 10px;
    color: #212529;
}

span.sec {
    display: inline-block;
    horiz-align: right;
    line-height: 15px;
    font-size: small;
    padding-left: 10px;
}
.second{
    display: inline-block;
    horiz-align: center;
    width: 30%;
    height: px;

}
.ultimate{
    background-color: #172339;
    font-size: x-large;
    color: #c9b49a;
    text-align: center;
    font-weight: bolder;
    line-height: 25px;
    height: 55px;
    border-bottom-left-radius: 22px;
    border-bottom-right-radius: 22px;

}
.list2{
    margin-top: 10px;
    margin-bottom: 20px;
}
