* {
    margin: 0px;
    padding: 0px;
}

html, body {
    width: 100%;
    height: 100%;
}

#wrapper {
    width: 100%;
    background-color: #5bc0de;
}

.mybox1 {
    width: 100%;
    height: 57px;
    background-color: #1b2132;
    color: green;
}

.mybox10 {
    width: 15%;
    margin-left: 35px;
    padding-top: 15px;
    padding-left: 15px;
    display: inline-block;
}

.mybox13 {
    color: white;
    padding-left: 15px;
    padding-right: 15px;
}

.mybox14 {
    float: right;
    display: inline-block;
}

.mybox15 {
    display: inline;
    float: right;
}

.mybox2 {
    width: 100%;
    height: 72px;
    padding-top: 7px;
    padding-left: 20px;
    margin-top: 0px;
    background-color: #ffffff;
}

.mybox3 {
    width: 100%;
    height: 300px;
    background-color: #a4c3ff;
}